@font-face{
    font-family: 'font-a';
    src: url(FtPilKahol2.woff2) format(WOFF2);
}
    @font-face{
        font-family: 'font-b';
        src: url(DanaYadAlefAlefAlef-Normal.otf) format("OpenType") ;
}
body {
    font-family: Arial, sans-serif;
    
    text-align: left;
}

#game {
    
    width: 350px;
    margin-right: auto;
    margin-left: auto; 
    border: 4px solid rgba(16, 179, 125, 0.63);
    border-radius: 7px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-top: 15px;
    background-color: aquamarine;
    direction: rtl;
}
html{
    font-size: 25px;
    direction: rtl;
    background-color:rgba(17, 153, 170, 0.5);
    color: white;
    direction: rtl;
}
h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Rubik Vinyl', Arial, sans-serif;
    color:  rgb(22, 168, 54) 
}
h2{
    font-family: font-a,sans-serif; 
}
h3{
    font-family: font-a,sans-serif; 
}
p{
    font-family: font-b,sans-serif;
}
#message {
    margin-top: 20px;
    font-size: 1.2em;
    color: red;
}




select, button, input[type="text"] {
    font-size: 1em;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    direction: rtl;
}

select:focus, button:focus, input[type="text"]:focus {
    border-color: #007BFF;
}

button {
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

pre#hangman {
    direction: ltr;
}
#Languages{
    background-color: #13c77cc4;
    text-align: right;
    height: 35px;
    width: 100px;
    border: #0056b3;
    border-radius: 7px;
    padding-left: 25px;
    padding-right: 25px;
}

